[2019-08-31 02:47] ichiriac commented on #358
My problem is that after releasing a change with or without noop, it's hard to change the choice (until a new major release).

As it's definitive, if you pick the wrong option you may miss an use case that could lead to either avoid the option, use a bad design, or create a major release just for a little change.

That's why I take time in order to fully understand pros and cons, but on this I onl

[2019-08-31 04:04] ichiriac commented on #381
it's fixed

[2019-08-31 04:04] #381 closed

[2019-08-31 04:24] ichiriac commented on #370
it's fixed, waiting to be released, please check the commit, i've introduced the nullkeyword node (was missing)

[2019-08-31 04:38] ichiriac commented on #263
The behavior is correct, but the default is not.

On php by default `short_open_tag` are false, here the result if I enable them :
[code]

And here when they are disabled :
[code]

Default options on the lexer are :
[code]

With `short_tags` to false you have the expected behavior. I'll put it to false by default as we are in PHP7 by default

[2019-08-31 04:41] #263 closed

[2019-08-31 04:57] ichiriac opened #386 "Refactor php flags to a version string"
Instead using `php73`, use just a `version` property :

[code]

Becomes :

[code]

The version is converted to a number `7.3` => `703` (major * 100 + minor)

/cc @evilebottnawi  It will be easier to check compatibilities without handling many tags

[2019-08-31 12:15] evilebottnawi commented on #358
:+1:

[2019-08-31 12:18] evilebottnawi commented on #205
@ichiriac what about `$var = &(SOMETHING);?` Which node will have `byref`? It is introduce new problems, all parsers for php store `byRef` on assign node (only for this https://github.com/php/php-src/blob/php-7.4.0beta4/Zend/zend_language_parser.y#L886 scenario), we should keep `byRef` on variable for arguments/array/etc. only if `=` and `&` together we should keep `byRef` on `assign` node

[2019-08-31 14:19] ichiriac commented on #205
Hi  @evilebottnawi,

Your example is not a valid syntax, lets assumeyou write `$var = &SOMETHING;` which is valid on php-parser but not on php 7, it will assign `byref = true` on the classreference `SOMETHING`.

Ok, as you pointing out `=&` is an edge grammar case, I've made some test on PHP :

[code]

Didn't saw this before, thanks for pointing me this - :+1: for `AssignRef` - also need to refact

[2019-08-31 16:15] evilebottnawi opened #387 "again and again regression"
Input:
[code]

Input:
[code]

I honestly can’t understand what the problem is, why you can not devote a little more time to tests and details, what is the problem of being more responsible for the project or asking for help (hi, i am here and can test branches before merge :hand: )?

Each update is pain and regressions :disappointed:

I understand that we all have work here and a little time, but

[2019-08-31 16:36] evilebottnawi commented on #205
@ichiriac We still can't update parser, other problem:
[code]

In this case we have `&` on variable, but according logic right now, we check right node on `byref` and print `&`, but `variable` inside `argument` (`function ($a, &$b) {}`) also can `byref` and we have print `&` when `byref` on variable too. So using this logic case above transform into:
[code]

@ichiriac Can we add `byref` on `assign

[2019-08-31 16:42] evilebottnawi commented on #205
Other example:
[code]

`closure` has `byref` :confused:

[2019-08-31 16:44] czosel commented on #387
@evilebottnawi Just that I also understand the issue here: You're talking about pushing code directly to master which is breaking the CI build on master, right?
If so, then I'd also strongly encourage @ichiriac to always open a pull request for each change and only merge it when the CI passes. Also, it's always great if someone else who understands the codebase (e.g. @evilebottnawi) can look over

[2019-08-31 16:45] evilebottnawi commented on #387
@czosel yes, always wait green, do more tests and wait review, I am almost always available and respond very quickly

[2019-08-31 17:00] evilebottnawi commented on #387
Look regression here https://github.com/glayzzle/php-parser/commit/09c943cf143bf24762d17882dc5e94febba29e59, now parser works in php5 mode by default, before he works in php7 mode

[2019-08-31 17:00] ichiriac commented on #387
Hi @evilebottnawi - the problem is quite simple :

The real problem here is that I don't use or need the parser, I'm maintaining it just for helping users like you, but as I'm not dirrectly using it so I can't spend time on it as I have real life projects to finish (even on my spare time)

A solution for yourself could be to fork the project, making changes as you need, publish releases under new

[2019-08-31 17:01] ichiriac commented on #387
lets close this issue, I've added husky, I will not be able to commit with breaking test

[2019-08-31 17:01] #387 closed

[2019-08-31 17:03] ichiriac commented on #386
related to #387 - bad design to handle the version flag (defaults etc)

[2019-08-31 17:04] evilebottnawi commented on #387
@ichiriac can you send a PR and wait review for me before merge? I will test branch and check code on something strange?

[2019-08-31 17:05] ichiriac commented on #205
please, read the previous comment https://github.com/glayzzle/php-parser/issues/205#issuecomment-526834214

[2019-08-31 17:07] evilebottnawi commented on #205
@ichiriac i can't understand answer from comment above

[2019-08-31 17:14] evilebottnawi commented on #205
`Something` means `$var` or `$var->foo` or `$var::test` and etc.

Grammar for `?=`
php 5.4 - https://github.com/php/php-src/blob/PHP-5.4/Zend/zend_language_parser.y#L728
php 7.4 - https://github.com/php/php-src/blob/php-7.4.0beta4/Zend/zend_language_parser.y#L886

It should be very easy move `byref` on assign node and it is right solution

[2019-08-31 17:15] ichiriac commented on #205
so, we are agree, can you send a PR ?

[2019-08-31 17:16] evilebottnawi commented on #205
@ichiriac :+1:

[2019-08-31 17:17] evilebottnawi commented on #345
/cc @ichiriac can you help with `flexible_heredoc_nowdoc_syntaxes`? php 7.4 doesn't have many problem with implementation, it is only difficult thing

[2019-08-31 17:27] ichiriac commented on #387
@evilebottnawi don't put too much feelings, for me it's just an hobby, I don't expect anything from this project.

I've started to work alone, the `master` branch is the unstable/dev/testing even if it's an uggly & bad practice but it's good enough for me as I can push quick fixes without merging.

I think as you need to retain releases and handle yourself your changes, it's better to fork and try

[2019-08-31 17:28] ichiriac commented on #345
It's implemented on local copy, just need to test edge cases :smile:

[2019-08-31 17:34] evilebottnawi commented on #345
@ichiriac feel free to send a PR, will be great look on this

[2019-08-31 17:36] evilebottnawi commented on #387
@ichiriac I had a discussion with WordPress developers and laravel, they wait php prettier, so it is the serious project for us, the guys also have money and maybe after stable release we will get funds, some of them we can to pay for your help in the work done, so I suggest that you take the project more seriously

[2019-08-31 18:03] ichiriac commented on #387
I don't do this for money @evilebottnawi, and @czosel as owner I make my own (maybe bad but assumed) decisions depending on what I assume

Please go ahead, fork the project and use a new npm alias - it's really not a problem for me, and I will still try to help you as before

[2019-08-31 18:13] evilebottnawi commented on #387
@ichiriac why you have `Sponsor` button in above? I just suggested that you take it more responsible to the project and offered you a simple and convenient work scheme to avoid problems in the future (branch -> green ci -> approve -> merge).

I don’t know why you closed the discussion here, because I can still talk, but apparently I better not do it. All I'm trying to do is make someone’s work bet

[2019-08-31 19:56] ichiriac commented on #387
You can talk as you are a collaborator with extra privileges - this conversation is off topic and does not concern issues on php-parser, you can still continue to talk with me but I would prefer to do it in private messages, for example on https://gitter.im/ichiriac

[2019-08-31 20:35] #358 closed

[2019-08-31 21:36] evilebottnawi opened #391 "avoid usage `literal` node"
We have one place where we use this node, i think we should replace this on something other https://github.com/glayzzle/php-parser/blob/master/src/parser/variable.js#L105

/cc @ichiriac what do you think? Other php parser doesn't have this node too

[2019-08-31 21:47] ichiriac commented on #391
It's a base class, extended by boolean, number, nowdoc, magic constants ... the name property contains the value of the literal, but as it encapsed with brackets, the expression node may be a property of another node ...

Here the ouput of nikic's implementation
[code]

Here it's using dirrectly the expression, without surrounding it with a node, so you loose information about brackets formatting,

[2019-08-31 21:53] evilebottnawi commented on #391
@ichiriac i don't mean remove `literal` node, i mean don't use this in `ast` directly, i will investigate this

[2019-09-10 17:12] evilebottnawi opened #400 "parsable broken code"
Input:
[code]

should throw error

[2019-09-10 17:31] evilebottnawi opened #401 "can't parse"
Input:
[code]

Maybe it is already parsable, but default mode is php7, we should try to parse in php7 when try to parse in php5 by default if not specified other

[2019-09-11 15:11] evilebottnawi commented on #355
@ichiriac still invalid positiion, should be:
[code]

[2019-09-17 13:56] #205 closed

[2019-09-30 17:40] evilebottnawi commented on #371
Right now we have `nowdoc` ast node where we have `quote` property, but we don't need this property because `nowdow` **always** require single quotes `'`

[2019-09-30 17:44] evilebottnawi commented on #371
Fixed in `prettier` branch and will be merged in future (i hope)

[2019-09-30 17:44] #371 closed

[2019-09-30 19:59] evilebottnawi commented on #251
WIP on this, due in encaped we can have `{` and `${` and they can contains variable https://github.com/php/php-src/blob/php-7.4.0RC1/Zend/zend_language_parser.y#L1269 and https://github.com/php/php-src/blob/php-7.4.0RC1/Zend/zend_language_parser.y#L1276 we need new property like `dollar: true/false` for ast

[2019-09-30 20:01] evilebottnawi commented on #251
Example:
[code]

[2019-09-30 20:08] evilebottnawi commented on #251
Also curly for simple syntax is opinionated:
[code]

[2019-09-30 20:19] evilebottnawi commented on #251
https://github.com/php/php-src/blob/php-7.4.0RC1/Zend/zend_language_parser.y#L1262 - create variable
https://github.com/php/php-src/blob/php-7.4.0RC1/Zend/zend_language_parser.y#L1270 - create variable

So we need new property for `encapsedpart` as i written above

[2019-09-30 20:36] evilebottnawi commented on #251
hm, maybe wen can refactor to one variable: `style: `curly`| 'dollar' | null`
1. `curly` - `"test {$test}";`
2. `dollar` - `"test ${test}";`
3. `null` - `"test $test"`

[2019-09-30 20:37] evilebottnawi commented on #251
/cc @ichiriac any ideas? I know we always can refactor in future, just want some feedback

[2019-10-01 19:46] ichiriac commented on #251
I'm agree with you

[2019-10-26 04:31] ichiriac opened #431 "inconsistent assignref"
Introduced here :
https://github.com/glayzzle/php-parser/pull/388

Example of inconsistencies :

[code]

The `=&` is not an operator, maybe it's a conding style, but in reality `&` is attached to the `variable` and not the `operation`

/cc @evilebottnawi

[2019-10-26 04:35] ichiriac commented on #431
ok, i've got a mind refresh from #205 - let's close it even if I have a problem with that approach

[2019-10-26 04:35] #431 closed

[2019-10-26 04:37] ichiriac commented on #400
why ?

[code]

[2019-10-26 04:43] ichiriac commented on #401
I would prefer to avoid unwanted behaviors. Lets keep defaults, and introduce a missing `php5` flag with `false` by default :

And in order to parse, the `&` will be allowed on `new` only on `php5` mode instead the `!php7` mode

[code]

[2019-10-26 04:46] ichiriac commented on #386
should also handle multiple versions `['5.0', '7.0']` (related to #401)

[2019-10-28 11:00] evilebottnawi commented on #400
hm, thanks for feedback, i think i was wrong, we should add this as tests :+1:

[2019-10-28 11:01] evilebottnawi commented on #386
Good idea, i will look on this in near future

[2020-01-02 09:08] #400 closed

[2020-01-02 09:23] ichiriac commented on #345
merged on https://github.com/glayzzle/php-parser/pull/444

[2020-01-02 14:33] #195 closed

[2020-01-02 14:33] #355 closed

[2020-01-05 16:27] ichiriac opened #465 "release first stable 3.0"
Hi @evilebottnawi, @czosel,

I would like to release this week the first stable, with full support up to PHP 7.4. After this release we can still continue publishing bugfixes and new features, but no more breaking changes on this milestone.

Could you please take a look at the backlog and identify missing features with breaking changes to integrate on this version, or create issues if they does no

[2020-01-05 17:01] czosel commented on #368
Seems like this has been implemented in the `prettier` branch, which has been merged.

[2020-01-05 17:01] #368 closed

[2020-01-05 17:05] czosel commented on #465
Hi @ichiriac

Sounds great! Refactoring the version flags into a version string seems like a good idea. I went through the backlog and found some issues that might still make sense for 3.0:

https://github.com/glayzzle/php-parser/issues/62 (most important i guess)
https://github.com/glayzzle/php-parser/issues/362
https://github.com/glayzzle/php-parser/issues/135
https://github.com/glayzzle/php-par

[2020-01-06 18:01] ichiriac commented on #191
@evilebottnawi can we close this issue ? I see a merged PR

[2020-01-06 18:02] #370 closed

[2020-01-06 18:04] ichiriac commented on #366
ok, this can be fixed on next release as it's not a really a blocking bug

[2020-01-06 18:05] #348 closed

[2020-01-06 18:06] #356 closed

[2020-01-06 18:36] #251 closed

[2020-01-06 18:36] #353 closed

[2020-01-06 18:38] #264 closed

[2020-01-06 18:39] #345 closed

[2020-01-06 18:40] ichiriac commented on #380
@evilebottnawi - can we close this issue, or does remains work to be done here ?

[2020-01-06 18:48] ichiriac commented on #378
It's a duplicate of https://github.com/glayzzle/php-parser/issues/272 - you will get an expression with a noop node.

[2020-01-06 18:48] #378 closed

[2020-01-06 18:48] ichiriac commented on #465
#62 : not a lot of work to be done, just a check on bodies, already refactored some important parts
#362: easy to do, I'm on it
#135: not easy but very important, and related on #272
#272 : could be breaking as they are introduced in new nodes, example : `<?php /** foo **/ ?>` will be a noop with the comment attached to it

[Script tags & AST Structure / Introducing Breaking Changes](https://githu

[2020-01-06 18:50] ichiriac commented on #240
@evilebottnawi - do you want to change the used node, or just change inheritance ? If it may introduce breaking changes, it should be released in 3.0.0 ?

[2020-01-06 18:52] ichiriac commented on #155
Hi @mgrip - does it fixed ? If not, it may introduce breaking changes ? If yes, it should be released on 3.0.0

[2020-01-06 20:50] mgrip commented on #155
Thanks for following up @ichiriac! I've since stepped back from the prettier php project, I'll defer to @evilebottnawi or @czosel!

[2020-01-06 21:36] czosel commented on #155
I tried following up on this a little, but can't report anything conclusive. As far as I can tell, we're ok with the way things are currently handled, so I wouldn't prioritize this for `3.0.0`.

[2020-01-08 10:26] ichiriac commented on #155
ok @czosel, thx for the feedback

[2020-01-08 21:50] czosel opened #468 "Flexible nowdoc contains extra linebreak"
"Classic" nowdoc nodes contain no trailing linebreak in `value`, while flexible ones do.

[code]

[code]

Input:
[code]

[code]

[2020-01-09 15:07] ichiriac commented on #468
Hi @czosel,

The `value` property is in principle the computed value, as in PHP there is no trailing space even with this syntax at the evaluation time it's good for me.

Here you're just missing the `indent` property meaning that the node used whitespace indentation over the `value`, or if you don't need the rewrite the nowdoc syntax, you can just use the `raw` property.

[2020-01-09 15:10] ichiriac commented on #468
Hi @czosel, I've read again with more attention your issue, you are right, my previous answer still can be implemented also, bug you're right, it's a bug

[2020-01-09 16:57] #191 closed

[2020-01-09 16:58] #380 closed

[2020-01-10 09:16] #468 closed

[2020-01-13 18:56] #346 closed

[2020-01-13 18:59] #62 closed

[2020-01-13 21:27] ichiriac commented on #401
Hi @evilebottnawi, sorry but this can't be fixed as it's compliant to php deprecation, you can have php7 and php5 mixed codes into the same repositiory (or same file) ...

Here the code line to remove : https://github.com/glayzzle/php-parser/blob/fdd8c152449c054537d1e37cc87149fad9397fd3/src/parser/expr.js#L519

If you want to introduce a patch you can still run php-parser with to following option

[2020-01-13 21:27] #401 closed

[2020-01-14 16:44] #362 closed

[2020-01-19 14:24] #135 closed

[2020-01-19 14:24] #272 closed

[2020-01-19 14:34] #386 closed

[2020-01-19 14:43] ichiriac commented on #465
Hi  @evilebottnawi, @czosel,

The first 3.0 stable version is ready to be released, you can try on master, it fixes the following :
https://github.com/glayzzle/php-parser/milestone/10?closed=1

Unless you find something blocking, I'll release it tonight under 3.0.1 - if needed I will release bugfixes more frequently after

[2020-01-19 15:30] czosel commented on #465
Hi @ichiriac

Awesome that we're approaching this milestone! :tada:
I just tried the new "noop" nodes - and it'll need some work over at prettier (see https://github.com/prettier/plugin-php/pull/1303). It might make sense to wait a little longer with the release until we have confirmed this works as expected?

[2020-01-19 15:47] ichiriac commented on #465
ok, lets wait until next week, no need to hurry, I'll wait your go

[2020-01-19 17:14] ichiriac opened #486 "Add PHP 8 Support / WIP"
Prepare the parser to PHP 8 :

- [ ] https://wiki.php.net/rfc/union_types_v2

Work In Progress as RFC are not yet closed

[2020-03-10 22:23] ichiriac commented on #465
@czosel any news ? Ithink I will take some time this week-end to prepare the release

[2020-03-11 06:34] czosel commented on #465
Hi @ichiriac, unfortunately I'm a bit short on time again and https://github.com/prettier/plugin-php/pull/1303 is still not finished. I'll try to take a look on the weekend!

[2020-03-12 00:25] cseufert commented on #346
Is there going to be a release now that PHP 7.4 features are being parsed?

[2020-03-13 19:40] ichiriac commented on #346
Yes it's planned to be released as stable. I'm justing the go from another project that's using the library. It will be ok in few days or next week.

[2020-03-14 10:24] czosel commented on #465
@ichiriac tests are passing over at https://github.com/prettier/plugin-php/pull/1303 :tada:

[2020-03-14 16:14] czosel opened #508 "Can't parse multiple flexible nowdoc blocks with different indentation"
Input:
[code]
Output: `SyntaxError: Invalid body indentation level (expecting an indentation at least 2) on line 5`

[2020-03-21 19:05] czosel opened #511 "Invalid start location for class constants"
Input:
[code]
AST (excerpt):
[code]
I think the start column of the class constant is off, it should be around 4 instead of 10 in the example.

[2020-03-21 19:08] czosel commented on #511
The same thing happens with class properties:
[code]
AST:
[code]

[2020-03-21 20:12] czosel opened #512 "Nested shorthand lists parsed as array"
Input:
[code]
The first line is parsed as `list` with a `list` inside, the second one as `list` with an `array` inside.

[2020-03-23 09:44] evilebottnawi commented on #511
Yes, it is old issues :disappointed:

[2020-03-23 10:20] czosel commented on #511
Maybe related to https://github.com/glayzzle/php-parser/issues/208 ?

[2020-03-23 10:31] evilebottnawi commented on #511
Yes, i try to keep all in the one PR, but it's just my preference

[2020-03-23 10:37] czosel commented on #511
Doesn't matter as long as we get it fixed :wink:

[2020-03-26 07:49] ichiriac commented on #511
for const the fix is easy, but for properties / functions it's more complicated as the final / abstract / private / protected / public tokens may be eaten before creating the function or property node - one solution would be to use swapLocations on the generated and store on flags the parser position before  eating modifiers tokens

[2020-03-26 08:38] ichiriac commented on #511
Hi @evilebottnawi, it would be great if you have some time that you keep working on branch #fix-issue-511 as the fix is not fully implemented.

Remains to check interfaces, traits, use alias on traits, but the principle remains the same as in the last commit

[2020-03-26 08:44] ichiriac commented on #508
Hi @czosel,

#508 & #509 seems to be fixed by PR #506 - you can still add new tests to check or close this issue and PR

[2020-03-26 08:46] ichiriac commented on #366
same thing on `class foo { static const bar = 1; }` some flags are not allowed on `const` nodes be there is missing a test

[2020-03-26 11:04] czosel commented on #508
:tada: Awesome! I'll go ahead and close this then :slightly_smiling_face:

[2020-03-26 11:04] #508 closed

[2020-03-27 07:56] ichiriac commented on #465
great, I'll release today, and then I'll release bugfixes once a week if needed

[2020-03-27 07:56] #465 closed

[2020-04-15 07:14] czosel opened #532 "expression as generator key"
Input:
[code]

Output:
[code]

I didn't test it with just the parser yet; the original bug report is https://github.com/prettier/plugin-php/issues/1390.

[2020-04-24 13:54] ichiriac commented on #532
Hi @czosel, the problem is fixed, I'll release this soon

[2020-04-24 13:54] #532 closed

[2020-04-24 13:57] ichiriac commented on #391
Hi @evilebottnawi, if you want to work on it again you can still re-open this issue or a new one, I'll close it in order to keep issues clean

[2020-04-24 13:57] #391 closed

[2020-04-24 15:19] czosel commented on #532
Awesome, thank you! :tada:

[2020-05-10 11:08] czosel opened #548 "Precedence of exponentiation operator"
Hi @ichiriac

In the PHP plugin for prettier an issue with the precedence of the exponentiation operator (`**`) was reported (https://github.com/prettier/plugin-php/issues/1421):

Input:
[code]

The first expression is parsed incorrectly as `(1+2)**3`, the second correctly as `(1**2)+3` ([see playground](https://loilo.github.io/prettier-php-playground/#N4IgDgTgpgLjCWUIHkwIPYDsDOIBcok8mMA6vACYwAW+A

[2020-05-22 15:04] #548 closed

[2020-05-30 13:10] loilo opened #560 ""Invalid body indentation level" error when using flexible nowdoc and variable interpolation"
The following PHP code fails to be parsed by `parseCode()` with an "Invalid body indentation level" error:

[code]

<details>
<summary>Detailed error stack</summary>

[code]

</details>

The interesting thing here is the combination: the error appears when *all* of the following conditions are met:

- `$x` is assigned with a **Nowdoc** block (not Heredoc).
- That Nowdoc block is a **flexible** Now

[2020-07-09 15:24] czosel commented on #512
@ichiriac Can you share a pointer how to fix this? I might be able to take a look at it in the coming days.

[2020-08-11 06:20] allejo opened #589 "Syntax error when using `new` and a static array of class FQNs"
[code]

Example: https://astexplorer.net/#/gist/cf40b6012dfde0d3ba41b35050117dd6/b2a9736b6c4531bd595ec4641364a27f3ab0717a

[2020-08-15 13:35] kalimah-apps opened #593 "Missing last leading comments with namespace"
Hi,
I am trying to parse a file with a file level comment. This parse works fine when not using a namespace. However, with namespace the leadingComments node is missing the last one.

This is what I have at top level:
`/**
 * File leve comment
 *
 * @package testing
 */

/**
 * namespace comment
 *
 * Another top level comment
 */

// Testing another comment

/*
One more comment
*/`

and this is t

[2020-09-22 18:54] hackel commented on #560
Another test case that is triggering this error:
[code]
The quoted snippet is preceded proceeded immediately by an indented NOWDOC:
[code]

[2020-10-04 19:45] #512 closed

[2020-10-04 19:58] ichiriac commented on #512
@czosel released under 3.0.2

[2020-10-04 20:33] czosel commented on #512
Awesome, thanks a lot @ichiriac! 😃

[2021-01-10 12:04] Selion05 commented on #486
https://wiki.php.net/rfc/nullsafe_operator

What is the status about php 8 support?

[2021-01-20 12:28] cedw032 commented on #198
Is anything happening with this?  I'm trying to get a complete traversable AST but from the types and documentation, I cannot tell how basic traversing is supposed to be achieved.  I am very interested in using this package but am having trouble getting started.  Any help would be appreciated.

Does anyone have a demo of basic tree traversal?  I can only see as deep as the class declaration.  Also

[2021-02-01 07:13] vikbert opened #649 "Can anyone tell me what is the purpose to use a php-parser?"
I can not imagine, if I decide to write a nodejs app that expects to use any complex php code within the typescript. If I need to do it, perhaps the node app was not a good decision.

[2021-02-01 13:57] ichiriac commented on #198
Hi @cedw032, glad to see your interest for this library.

If you want to see some usage you can check this other project, but it may seem hard to read : https://github.com/glayzzle/php-reflection

You have the documentation here : https://php-parser.glayzzle.com/readme and the structure of nodes is documented here : https://php-parser.glayzzle.com/api/ast.js

The main idea of the visitor is to rec

[2021-02-05 23:13] Wulfheart commented on #486
What’s new in PHP8?

- Named arguments
- Attributes
- Constructor property promotion
- Union types
- Match expression
- Nullsafe operator

I’d suggest creating an separate issue for each if these features.

Compiled from https://www.php.net/releases/8.0/en.php

[2021-02-05 23:22] Wulfheart opened #653 "PHP8: Named arguments support"
#486

[2021-02-05 23:23] Wulfheart opened #654 "PHP8: Attributes support"
#486

[2021-02-05 23:24] Wulfheart opened #655 "PHP8: Constructor property promotion support"
#486

[2021-02-05 23:24] Wulfheart opened #656 "PHP8: Union types support"
#486

[2021-02-05 23:25] Wulfheart opened #657 "PHP8: Match expression support"
#486

[2021-02-05 23:25] Wulfheart opened #658 "PHP8: Nullsafe operator support"
#486

[2021-02-07 15:48] czosel commented on #658
Currently, we're parsing `$foo->bar` as
[code]
 [PHP-Parser](https://github.com/nikic/PHP-Parser) is parsing `$foo?->bar` as
[code]
I'd say we can implement this here using `kind: "nullsafepropertylookup"`.
cc @ichiriac

[2021-02-07 15:56] czosel commented on #653
We're currently parsing `foo("a")` as
[code]
PHP-Parser is parsing `foo(a: "a");` as
[code]
I'd propose to support named arguments by adding a `name` property to `Arg` as well.
cc @ichiriac

[2021-02-07 16:15] czosel commented on #656
We're parsing `function (Foo $foo): Bar {}` as
[code]
PHP-Parser parses `function (Foo|Bar $foo): Baz|Buzz {};` as
[code]
We could introduce a `uniontype` node, e.g.
[code]

See also https://github.com/php/php-src/blob/493524454d66adde84e00d249d607ecd540de99f/Zend/zend_language_parser.y#L650

cc @ichiriac

[2021-03-10 13:21] cseufert commented on #655
Please have a look at #685

[2021-03-14 09:44] whizsid commented on #649
I had wrap all strings with `gettext` function in a PHP,JS,HTML project. This file contained 1k-6k files. So I used this library to do it easily.

[2021-03-14 14:20] #649 closed

[2021-03-22 11:32] cseufert commented on #656
I have had a go at implementing this a changing type to an array, rather than a single value. Sorry I missed this before I started. I can update it to return a union type when there are multiple types.

[2021-03-22 12:08] cseufert commented on #486
There are now patches available for:
- named arguments #673
- property promotion #685
- union types #656
- match expression #686
- nullsafe operator #662 (merged?)

so really the work just needs to focus on attributes, however I am not sure the right way to update the lexer to support Attributes.

[2021-03-24 09:58] czosel commented on #486
Hi @cseufert
Awesome work! #662 has been merged in a temporary `php8` branch because I don't know the codebase well enough to just merge stuff into master before @ichiriac took a look as well. If you like, you can point your PRs to the `php8` branch as well, and I'll try to find some time for a first review :)

[2021-03-24 10:43] cseufert commented on #486
I have changed the following PR's to merge to the php8 branch:
- #693 Union Types
- #686 Match expression
- #685 Promoted properties

I am going to have a go at getting this stuff working in prettier at some point, and am looking foward to having someone who know the codebase have a review of the code. I feel it could benefit a lot from being ported to typescript, but I guess thats a totally diffe

[2021-03-24 16:10] czosel commented on #486
Awesome! As I said before, reviews in the parser are also quite difficult for me - I'm more comfortable on the prettier side. Either way I'll try to do my best to help, it would be awesome to have full php8 support in the prettier plugin :-)

[2021-03-29 11:24] cseufert commented on #49
There are a lot of branches that are not straightforward to test, as the branch will not be exercised unless the mode is changed from error to warning (for the expect() functions, and random AST nodes are removed to trigger all these cases (lots of expected brackets, arrows, etc). I wonder if writing a test driver that drops each symbol in each test, and takes a snapshot of the output would work h

[2021-04-04 19:10] ichiriac commented on #658
https://wiki.php.net/rfc/nullsafe_operator
@czosel 👍

[2021-04-04 19:43] ichiriac commented on #653
@czosel great, I'm agree with `namedargument`, same approach as `byref`

[2021-04-30 12:00] Selion05 opened #723 "Code style: Use prettier"
I'm working on  php8 attributes right now and the es-lint rules annoy me quite a bit.

e.g. I always use single quotes and let prettier decide what to use automatically. Here it just tells me the error without fixing it.

Maybe I haven't configured intellij-idea correctly - so hints on that are welcome but what do you guys think about switching to prettier?

Also note that javascript isn't my main

[2021-05-13 16:48] czosel commented on #723
We are using prettier already! We're using the default configuration, which means double quotes instead of single quotes. ESlint just makes sure that the prettier formatting is respected. Could it be that your IDE is using a custom configuration for prettier?

[2021-05-14 06:29] Selion05 commented on #723
:facepalm: my bad. I didn't find a prettier config file so I didn't activate it.

[2021-05-14 06:29] #723 closed

[2021-06-12 03:17] rry507793495 opened #748 "How to tarvers the ast tree"
can't find how to tarvers the ast tree

[2021-06-14 11:51] cseufert commented on #589
I have had ago at fixing this, see #750

[2021-06-18 11:48] Eldair commented on #486
Hello,

There is no tracking for non-capturing catches - `} catch (Exception) {` `Parse Error : syntax error, unexpected ')'`

[2021-07-22 15:42] alexander-akait commented on #658
Fixed in `php8` branch

[2021-07-22 15:42] #658 closed

[2021-07-22 15:42] alexander-akait commented on #656
Fixed in `php8` branch

[2021-07-22 15:42] #656 closed

[2021-07-22 15:42] alexander-akait commented on #653
Fixed in `php8` branch

[2021-07-22 15:42] #653 closed

[2021-07-22 15:42] alexander-akait commented on #657
Fixed in `php8` branch

[2021-07-22 15:42] #657 closed

[2021-08-12 04:50] MasonD commented on #486
Is this the correct place to remark on an error I noticed with parsing of promoted constructor params? php-parser complains about a syntax error when a promoted constructor param is marked as nullable with a question mark
[code]

[2021-08-16 00:23] cseufert commented on #486
I have submitted a PR to fix this in the parser:
https://github.com/glayzzle/php-parser/pull/785

[2021-08-31 05:18] MasonD opened #786 "PHP8: static type hint"
#486
Currently the parser doesn't understand that static can be used as a type hint like so:
[code]

[2021-08-31 05:30] MasonD opened #787 "PHP8: trailing comma in closure use list"
#486
Support trailing comma in closure use list, since PHP8.0
[code]

[2021-08-31 23:11] MasonD commented on #787
My bad, this does seem to be supported on the php8 branch.

[2021-08-31 23:11] #787 closed

[2021-10-01 12:39] fernando-rivas-smtp commented on #786
i'm having the same problem... there is a fix or a workaround?

[2021-10-01 12:42] alexander-akait commented on #786
We need fix problem in parser, PR welcome

[2021-10-01 12:44] fernando-rivas-smtp commented on #786
can you give me some hint to where the problem could be? i would gladly fix it!

[2021-10-04 09:02] fernando-rivas-smtp commented on #786
pr created: https://github.com/glayzzle/php-parser/pull/791

[2021-10-23 15:35] czosel opened #793 "PHP8 support, new release, maintenance"
Hi @ichiriac

As you know  several PHP8 related features have been merged into the `php8` branch of this repository. Until now we've held off of merging back into `master` because no one felt confident enough without your approval. Now I think it would be time to try to get it merged back into the `master` branch though, before the two branches diverge too much. Do you think you might find the tim

[2021-11-01 17:03] jaulz commented on #486
I also noticed that there seems to be a small issue with Attributes that contain bitwise operators:
![image](https://user-images.githubusercontent.com/5358638/139710484-d6912b19-78ff-4599-9089-fe293d6e81d3.png)

These lines cause the following error:
[code]

Shall I raise it as a separate issue or do you want to track it here?

[2021-11-01 17:33] czosel commented on #486
@jaulz I think a separate issue would be better - tanks!

[2021-11-02 07:20] jaulz commented on #486
@czosel hm, I noticed that there is a pending issue and PR which talks about merging php8 features into `main`:
https://github.com/glayzzle/php-parser/issues/793
https://github.com/glayzzle/php-parser/pull/809

I am using `php-parser@3.0.2` right now which already comes with some basic PHP8 features if I understand correctly. Should I rather wait for that before raising the issue?

[2021-11-02 07:44] czosel commented on #486
Oh, I assumed that you were already working with the `php8` branch - sorry! If not, there is a good chance that your issue has already been fixed inside the `php8` branch - over the past month several larger features have been merged in this branch, but didn't land in `master` yet because we still needed the review from @ichiriac. I hope we'll soon be able to merge all of those back into `master`

[2021-11-02 08:29] jaulz commented on #486
Okay, thanks for your quick feedback! 😊  In that case I will just wait for it and come back in case I still notice it afterwards.

[2021-11-08 22:54] cseufert opened #819 "leading and trailing comment behaviour"
If you parse a function, with comments on parameters, eg:
[code]

the comments are not parsed the way I would expect, I would expect both arguments to have a `trailingComment`, however you end up with the second parameter getting both a leading and trailing comment, see:
[code]

This could be a breaking change for some other projects (eg prettier PHP plugin).

[2021-11-10 16:06] ichiriac commented on #819
Hi @cseufert,

The first argument definition stops at the `,` so as the first comment is after it's definition, it's not consumed as `trailingComments`

This kind of example may work as expected as the comment is before the `,`

[code]

There is no clean way to do it as you may expect as it will break definition logic

[2021-11-10 16:06] #819 closed

[2021-11-10 16:16] ichiriac commented on #486
Hi @czosel, I'll work on pending PR this week-end, if everything is ok then I'll release a new version and publish it on NPM.

[2021-12-06 14:06] robin-vendredi opened #834 "Importing a class with `\Trait\` in the namespace throws `unexpected 'Trait' (T_TRAIT)`"
I stumbled upon an issue while using `@prettier/plugin-php` and I believe it's a bug coming from the `php-parser` lib - please let me know if I'm mistaken. Thank you for your work maintaining `php-parser`.

### What I did

Starting from a fresh install of `3.0.3`, importing any namespace containing `\Trait\` in the path results in a `unexpected 'Trait' (T_TRAIT)` error.

Code to reproduce:
[code]

[2021-12-07 15:09] yaegassy commented on #486
Hi, any progress on PHP8 support?

[2021-12-09 02:57] MasonD commented on #654
Attributes are kinda supported on the php8 branch, but not completely. For example, the following throws an error:
[code]
Error: Bad terminal sequence "|"

[2022-01-28 16:37] xieyuheng opened #856 "Lack of releases forced down stream library to use `php-parser` git dependency, which causes problem on some cloud platforms."
https://github.com/prettier/plugin-php/issues/1822

[2022-01-28 16:40] xieyuheng commented on #856
If the master has no breaking changes, could you please do a `patch` release?

[2022-02-05 18:17] #560 closed

[2022-02-05 19:44] czosel commented on #856
Two beta releases are out, and the issue in the prettier plugin should be fixed as well :+1:

[2022-02-05 19:44] #856 closed

[2022-02-05 19:45] #793 closed

[2022-02-13 19:21] ichiriac commented on #834
The problem comes from the lexer, it differs from PHP lexer here :
https://github.com/php/php-src/blob/master/Zend/zend_language_scanner.l#L2363

Introduced 2 years ago :
https://github.com/php/php-src/commit/7a3dcc3e339cde2177ba4fe8fc45f78c94dfbb29

This issue may apply on any namespace usage (example a catch with a namespace and a token keyword)

@czosel :

A quick fix could be to introduce the

[2022-02-21 02:01] genintho commented on #786
This issue was fixed, can the maintainer close it?

[2022-02-21 02:03] #786 closed

[2022-02-21 02:03] genintho commented on #655
@czosel  I think this issue can be fixed. The readonly PR demonstrated that it is supported

[2022-02-21 07:17] czosel commented on #655
Totally, this landed in #697

[2022-02-21 07:17] #655 closed

[2022-03-08 19:29] czosel opened #896 "`Enum` is treated as a reserved word, even before PHP 8.1"
Input: `class Enum {}`
Output: syntax error, unexpected 'Enum' (T_ENUM), expecting T_STRING

The official PHP parser seems to be able to handle this example even after PHP 8.1 - if that turns out to be too difficult to fix here, maybe should consider adding the keyword only for PHP >= 8.1?

Also see https://github.com/glayzzle/php-parser/pull/895 for a failing test.

[2022-03-08 19:54] alexander-akait commented on #896
Sounds like the same https://github.com/glayzzle/php-parser/issues/834, but for `Enum`

[2022-03-08 19:56] czosel commented on #896
Yes, probably we should look at @ichiriac's suggestion on how to fix this: https://github.com/glayzzle/php-parser/issues/834#issuecomment-1038368182

[2022-03-16 07:35] Epskampie opened #899 "Error on `-` in attribute"
Version: 3.1.0-beta.5

The parser errors whenever a `-` (minus) is used inside an attribute.
Sample code:

[code]
output:

[code]

[2022-05-07 05:43] #654 closed

[2022-05-07 05:43] #899 closed

[2022-05-22 19:47] #834 closed

[2022-05-22 20:19] czosel commented on #834
Fixed in `3.1.0-beta.6` :tada:

[2022-05-22 20:19] czosel commented on #896
Fixed in `3.1.0-beta.6` :tada:

[2022-05-22 20:19] czosel commented on #654
Fixed in `3.1.0-beta.6` :tada:

[2022-05-22 20:19] czosel commented on #899
Fixed in `3.1.0-beta.6` :tada:

[2022-05-22 20:20] czosel commented on #486
Further improvements to PHP8 support landed in `3.1.0-beta.6` :tada:

[2022-05-23 10:08] AndreasA opened #935 "PHP 8.1 - Support for nested attributes"
From what I can see on doing a short check, the latest beta version does not fix nested attributes yet,

example:

[code]

Similar case would be with Symfony Validation and `All` or `AtLeastOne` validators.

[2022-05-24 06:21] AndreasA commented on #935
Just checked latest prettier and I think this works fine as well now.

[2022-05-24 06:21] #935 closed

[2022-05-24 06:25] AndreasA opened #936 "PHP 8.1 - First class callable support"
I am using prettier PHP plugin in latest version which uses the beta7 version releases yesterday and most things work fine now but first class callable support is still missing.

Examples:
[code]

[code]

[2022-05-25 21:30] #936 closed

[2022-05-28 07:48] #589 closed

[2022-05-30 20:50] #896 closed

[2022-05-30 21:08] czosel commented on #896
Fixed in `v3.1.0-beta.9` :tada:

[2022-06-03 04:38] yaegassy opened #944 "[Question] Is there a feature to parse phpdoc?"
Is there a parser for `phpdoc`? Or does `php-parser` itself have that feature? I am looking for the purpose of parsing php-parser's `leadingComments`.

[2022-06-03 11:10] jaulz commented on #896
@czosel thanks a lot! I can confirm that it also works in real life 😉

[2022-06-05 14:24] czosel opened #946 "Unpacking multiple arguments"
From https://github.com/prettier/plugin-php/issues/1976

Input:
[code]
Output:
`SyntaxError: Unexpected argument after a variadic argument on line 1`

[2022-06-10 18:44] #946 closed

[2022-06-10 18:50] czosel commented on #944
Hi @yaegassy, I assume you're looking for a parser that is written in JavaScript, and not https://github.com/phpstan/phpdoc-parser ? I'm not aware of any project doing this.

[2022-06-10 19:09] czosel commented on #946
Fixed in `v3.1.0-beta.10` :tada:

[2022-06-10 19:20] czosel opened #952 "[PHP 8.1] Explicit Octal numeral notation"
PHP 8.1 introduced [Explicit Octal numeral notation](https://php.watch/versions/8.1/explicit-octal-notation), which we don't support yet:

Input:
[code]
Output: `Parse Error : syntax error, unexpected 'o77' (T_STRING), expecting ';' `

[2022-06-11 00:16] yaegassy commented on #944
Thanks for the reply, I am looking for a phpdoc parser written in javascript.

There was a `glayzzle/doc-parser`, but it has not been updated and is not properly available in the current php... <https://github.com/glayzzle/doc-parser>

Thanks again for the reply. 🙇

[2022-06-11 00:16] #944 closed

[2022-06-15 23:18] MasonD opened #957 "Error when type hinting class properties with fully qualified classname"
[code]

results in the error `Parse Error : syntax error, unexpected '\DateTime' (T_NAME_FULLY_QUALIFIED)`

[2022-07-02 18:32] #952 closed

[2022-07-02 18:35] #957 closed

[2022-07-02 18:49] czosel commented on #957
Fixed in `v3.1.0-beta.11` :tada:

[2022-07-02 18:49] czosel commented on #952
Fixed in `v3.1.0-beta.11` :tada:

[2022-07-02 18:51] czosel commented on #486
I'd say we could slowly promote the current `3.1.0` release to stable, would you agree?

[2022-07-03 16:42] viperet opened #968 "Error in types.d.ts TypeScript definitions"
php-parser version 3.1.0-beta.11
tsc version 4.7.4

[code]

Possible solution: extend Encapsed class directly from Expression and add `raw: string;` directly to Encapsed class.

[2022-07-04 07:17] Yuri2 commented on #748
同问

[2022-07-04 13:39] Yuri2 opened #969 "How to turn ast into PHP code"
const parser = new engine({
  // some options :
  parser: {
    extractDoc: true,
    php7: true,
  },
  ast: {
    withPositions: true,
  },
});

// Load a static file (Note: this file should exist on your computer)
const phpcode = fs.readFileSync("./1.php", {
    encoding: "utf-8"
});

let ast=parser.parseCode(phpcode);

----------------------
now:
How to turn ast into PHP code?

[2022-07-07 19:19] MaartenStaa commented on #486
Yes, agreed. Would probably be good to fix #968 first, but things seem to be working well mostly.

I'm going on vacation two weeks as of tomorrow, so during that time I unfortunately won't have time to look at the linked issue.

[2022-07-07 20:36] czosel commented on #486
👍 enjoy your holiday! 🏝

[2022-07-12 00:06] cseufert commented on #486
Yes, a 3.1.0 release makes sense to me, which can parse PHP <= 8.1.

It looks like PHP 8.2 has not added much that changes the syntax of the language. From what I can tell it is just the `readonly` class keyword for proper immutable classes. Is it worth getting this functionality integrated?

[2022-07-19 05:54] dominic-p commented on #969
I'm new to this project, but I believe you will want to use something like [php-writer](https://github.com/glayzzle/php-writer) for that.

[2022-08-09 07:13] #968 closed

[2022-08-09 13:02] ytetsuro commented on #486
@czosel @cseufert @MaartenStaa

Fixed #968.

Are you ready to release 3.1.0 already?

[2022-08-09 21:35] czosel commented on #486
I’d say we are, I’ll do it soon :-)

[2022-08-10 20:24] czosel commented on #486
Released `v3.1.0` :tada:

[2022-09-07 13:25] briangrider commented on #486
You guys are champions. Thank you for your work maintaining this package!

[2022-09-13 17:19] shufo opened #1003 "Null-safe operator followed by a property named `class` results in a syntax error"
## Context
- php-parser 3.1.0
- https://github.com/shufo/vscode-blade-formatter/issues/544
  - I noticed this issue when my extension user reports the syntax check issue

## Problem

When property named `class` is exists after null safe operator, it will throws an exception.

[code]

Maybe it is recognized as reserved word.

It only happens when you put `class` property after null safe operator.
S

[2022-09-20 21:47] deakjahn opened #1006 "Modifying the AST"
Was the AST ever intended to be modified externally? I've justt written an AST->PHP writer (yes, I'm aware of `php-writer`, it's very old and dated, I needed the full support up to the latest PHP 8.1). It's in TypeScript, actually, not JavaScript. I didn't yet have time to test it at all, I'm more than willing to share it as soon it's reasonably error free.

However, this leads to the current ques

[2022-09-20 22:22] deakjahn commented on #1006
Addendum: I could actually create some nodes like this:

    let newExpression: php.Bin = {
      kind: 'bin',
      left: node.left,
      right: node.right,
      type: '+',
      setTrailingComments: (docs: any) => { },
      destroy: () => { },
      includeToken: (parser: any) => { },
      loc: null,
      trailingComments: null,
      leadingComments: null,
    };

but it just doesn't feel

[2022-09-22 18:37] deakjahn opened #1007 ""arrowfunc" puts body into a block"
When an arrow function is parsed, the body part is placed into a `block` instead of an `expression`. This might be not very important when analyzing PHP code but when it comes to recreating the PHP from the AST, it actually is a problem because a block would be enclosed in braces, while the expression in the arrow function is not. So, it has to be worked around with a hack.

The function body shou

[2022-09-22 19:50] deakjahn commented on #1007
Sorry, my bad. I lost my way between the two variants, ˙arrowfunc` and `closure`...

[2022-09-22 19:50] #1007 closed

[2022-09-23 12:53] deakjahn commented on #1006
I finally came up with this solution and it works but adding real constructors would be very welcome down the line:

    import * as php from "php-parser";

    export function binary(left: php.Expression, right: php.Expression, operator: string): php.Bin {
      return {
        kind: 'bin',
        left: left,
        right: right,
        type: operator,
      } as php.Bin;
    }

[2022-09-23 13:02] deakjahn opened #1008 "AST type inconsistencies"
I encountered the following source discrepancies while moving my AST->PHP writer from `any` type to strict typing. They are tolerable in JavaScript but cause problems in a type safe TypeScript:

- `continue` and `break` aren't consistent in their `level`, one uses a plain `number` while the other a `Number` extended from `Node`.
- `empty` extends `Expression` and uses an `expression` property but

[2022-09-25 18:33] czosel commented on #1006
Hi @deakjahn, thanks for bringing this up. As far as I can tell, a public API for this use-case has not been a focus yet. If I'm not mistaken, the functions in the `src/ast` directory are node constructors, though. The parser itself creates them like this: https://github.com/glayzzle/php-parser/blob/main/src/ast.js#L393 - you're looking for something typed though, right?

[2022-09-25 19:01] deakjahn commented on #1006
Yes, constructors, but no way to pass them the required parameters. So, I either use the above, or like this, no real difference but I need to create one for each and every one of the node types, of course.

    export function arrowfunc(args: php.Parameter[], type: php.Identifier, body: php.Expression, byref: boolean, nullable: boolean, isStatic: boolean): php.ArrowFunc {
      const item = new p